<a href="https://colab.research.google.com/github/mcsdonats/covidca/blob/main/map_covid_br.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
pip install folium

Requirement already satisfied: folium in /usr/local/lib/python3.7/dist-packages (0.8.3)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from folium) (2.11.3)
Requirement already satisfied: branca>=0.3.0 in /usr/local/lib/python3.7/dist-packages (from folium) (0.4.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from folium) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from folium) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from folium) (1.15.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->folium) (2.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->folium) (2.10)

In [26]:
import pandas as pd
import numpy as np

In [27]:
import folium

In [28]:
from folium import plugins

In [29]:
mapa = folium.Map(
    width = "100%",
    height = "100%",
    location = [-15.77972, -47.92972],
    zoom_start = 3

)

In [30]:
import json

In [32]:
from google.colab import files
uploaded = files.upload()

Saving br_states.json to br_states (2).json

In [33]:
df = pd.read_csv('/content/caso.csv.gz')

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
df

               date state  ... confirmed_per_100k_inhabitants death_rate
0        2022-02-09    AP  ...                    18359.12706     0.0131
1        2022-02-08    AP  ...                    18305.28457     0.0131
2        2022-02-07    AP  ...                    18232.99175     0.0131
3        2022-02-06    AP  ...                    18160.23477     0.0131
4        2022-02-05    AP  ...                    18132.50125     0.0132
...             ...   ...  ...                            ...        ...
2787279  2020-05-24    MG  ...                       14.70696     0.0000
2787280  2020-05-23    MG  ...                       14.70696     0.0000
2787281  2020-05-22    MG  ...                       14.70696     0.0000
2787282  2020-05-21    MG  ...                       14.70696     0.0000
2787283  2020-05-20    MG  ...                       14.70696     0.0000

[2787284 rows x 13 columns]

In [62]:
estados = df.loc[df.place_type == 'state', ['state', 'confirmed', 'deaths', 'is_last', 'death_rate', 'estimated_population'] ]
estados.head()

estados.isnull().sum()

ultimas = estados.loc[estados.is_last == True, ['state', 'confirmed', 'deaths', 'death_rate', 'estimated_population']]

In [63]:
ultimas

        state  confirmed  deaths  death_rate  estimated_population
0          AP     158214    2068      0.0131              861773.0
10171      AC     108794    1909      0.0175              894470.0
22584      AM     554583   14045      0.0253             4207714.0
60946      DF     649550   11256      0.0173             3055149.0
62922      AL     274449    6492      0.0237             3351543.0
128604     ES     957092   13760      0.0144             4064052.0
166944     MS     448921   10031      0.0223             2809394.0
203654     MA     396564   10562      0.0266             7114598.0
308540     MT     664854   14478      0.0218             3526220.0
383605     PA     675003   17494      0.0259             8690745.0
468206     PE     742409   20771      0.0280             9616621.0
567756     PB     528173    9871      0.0187             4039277.0
663729     RJ    1882077   70448      0.0374            17366189.0
711660     RN     448501    7846      0.0175             3534165.0
786808     PI     354619    7497      0.0211             3281480.0
927801     PR    2137621   41570      0.0194            11516840.0
1137826    RR     146589    2106      0.0144              631181.0
1147512    RO     341370    6886      0.0202             1796460.0
1172113    CE    1191350   25653      0.0215             9187103.0
1256391    BA    1424629   28345      0.0199            14930634.0
1458576    GO    1091634   25281      0.0232             7113540.0
1592960    SE     310100    6147      0.0198             2318822.0
1632418    TO     284778    4028      0.0141             1590248.0
1701833    SC    1520112   20876      0.0137             7252502.0
1882457    RS    1964978   37384      0.0190            11422973.0
2164831    SP    4782249  160542      0.0336            46289333.0
2487538    MG    2933701   58075      0.0198            21292666.0

In [64]:
ultimas['log_confirmed'] = np.log(ultimas['confirmed'])
ultimas ['log_deaths'] = np.log(ultimas['deaths'])
ultimas ['letality'] = ultimas['deaths'] / ultimas ['estimated_population']

In [69]:
ultimas.head()

      state  confirmed  deaths  ...  log_confirmed  log_deaths  letality
0        AP     158214    2068  ...      11.971704    7.634337  0.002400
10171    AC     108794    1909  ...      11.597211    7.554335  0.002134
22584    AM     554583   14045  ...      13.225972    9.550022  0.003338
60946    DF     649550   11256  ...      13.384035    9.328657  0.003684
62922    AL     274449    6492  ...      12.522521    8.778326  0.001937

[5 rows x 8 columns]

In [71]:
import json
br_estados = "br_states.json"
geo_json_data = json.load(open(br_estados))

mapa.choropleth(
    geo_data = geo_json_data,
    name = "Letalidade",
    data = ultimas,
    columns = ['state', 'letality' ],
    key_on = 'feature.id',
    fill_color = 'Reds',
    fill_opacity = 0.6,
    line_color = "white",
    line_opacity = 0.6,
    show = True,
    legend_name = "Letalidade por Estado"
)

/usr/local/lib/python3.7/dist-packages/folium/folium.py:426: FutureWarning: The choropleth  method has been deprecated. Instead use the new Choropleth class, which has the same arguments. See the example notebook 'GeoJSON_and_choropleth' for how to do this.
  FutureWarning

In [72]:
mapa

In [68]:
mapa.save('mapa_de_letalidade.html')